* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display:grid;
  grid-template: auto/1fr 4fr;
  gap: 4px
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-column: 1/span 2;
  display:grid;
  grid-template: 1fr/2fr 5fr;
}

.menu ul{
  display:grid;
  grid-template: 1fr/ auto ;
  grid-auto-flow: column;
  gap: 10px;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.nav ul{
display:grid;
grid-template: 1fr/ auto;
grid-auto-flow: column;
}

.sidebar {
  background-color: #C50208;
  grid-row-start: 2;
  grid-row-end:4;
  display:grid;
  grid-template: max-content auto/1fr;  
  gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-template-rows: repeat(auto-fit, 200px);
  gap:15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column:1/span 2;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}